# Auto detect text files and perform LF normalization
* text=auto

*.sbc linguist-language=XML

# Custom for Visual Studio
*.cs     diff=csharp
*.sbc     diff=xml

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
